.venv/
__pycache__/
*.pyc
.vscode/
runs/
*.log

models/oni_scan_bad_onion/args.yaml
models/oni_scan_bad_onion/*.png
models/oni_scan_bad_onion/results.csv
models/oni_scan_bad_onion/results.png
models/oni_scan_bad_onion/train_batch*.jpg
models/oni_scan_bad_onion/val_batch*.jpg
models/oni_scan_bad_onion/weights/last.pt
dataset/
yolo11n.pt
bus.jpg
models/oni_scan_bad_onion/labels.jpg
